@import "tailwindcss";

@font-face {
  font-family: 'Fustat';
  src: url('./assets/fonts/Fustat.ttf') format('truetype');
}

:root {
  --sans: "Fustat", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  background-color: black;
}

html,
body,
#root {
  max-width: 100dvw;
  overflow-x: hidden;
  margin: 0;
}
